.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:320px;
    position: absolute;
    top:50px;
    border-radius: 1px;
    border: 1px solid #d1dbeb;
}
@media screen and (max-width: 540px) {
    .container{
        width:70%;
    }
  }
.header{
    width: 100%;
    padding:21px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color:#fff;
    border-radius:2px 2px 0 0;
    background-color:rgb(97, 115, 137);
}
.logo{
    object-fit: contain;
    height: 46px;
    border-radius:4px;
    margin-right: 10px;
    /* height:30px;
    width:30px; */
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titleSpan{
    display: block;
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:21px;
    background-color: #fff;

}
.labels{
    color: #717d8b;
    font-size: small;
    align-items: initial;
    margin-bottom: 5px;
}
.button{
    width:100%;
}
.error{
    display: block;
    margin-top:-10px;
    color:rgb(211, 82, 82);
}